/target/
Cargo.lock
build/
build-*/
cmake-build-*/
out/
.env
.vscode/
.vs/
.DS_Store
.clangd/
releases/
SoulsyHUD_v*
*.zip
*.7z
*.tar.gz
/vcpkg_installed/
**/unused/
compile_flags.txt
notes.txt
*.user
x64/
Release/
Debug/
